<div class="col-xs-12" style="height:25px;"></div>
  <div class="container-fluid w-100 pt-3 px-5">
      <div class="row">
          <h4><div class="online-text">LOADING</div></h4><br>
      </div>
      <h5 class="gamename"></h5>
      <div id="twitchframe" class="row">
                  <div class="player" id="twitch-embed"></div>
          <div class="hidden-lg-down">
              <div class="chat"></div>
          </div>
      </div>
  </div>
       <div class="col-md-9">
         <h2>This is a beta Version.</h2>
 <p>Please dont mind the bug.<br> I just do that using one of my old creation. there is a lot of bug and the player/chat is not responsive for now.<br>
    I had to put the copyright on it, everything except code belong to BobberWCC.<br>
    This website can be taken down at any moment simply if bobber ask me to.
 </p>
 <h4>&mdash; Sirius Dev Team</h4>
        </div>
  </div><hr>